USE master
IF exists( select * from SYSDATABASES where name='NewsManagerSystem')
drop database NewsManagerSystem

create database NewsManagerSystem
on
(
	NAME='MySchool',
	FileName='C:\学习文件\Microsoft SQL Server\数据库文件\NewsManagerSystem.mdf',
	SIZE=10MB,
	FILEGROWTH=20%
)
LOG ON
(
   NAME='MySchool_log',
	FileName='C:\学习文件\Microsoft SQL Server\数据库文件\NewsManagerSystem_log.ldf',
	SIZE=3MB,
	FILEGROWTH=1%,
	MAXSIZE=20MB
)
USE NewsManagerSystem
GO
/****** Object:  Table [dbo].[TOPIC]    Script Date: 06/12/2014 17:47:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TOPIC](
	[TID] [int] IDENTITY(1,1) NOT NULL,
	[TNAME] [varchar](50) NOT NULL,
 CONSTRAINT [TID] PRIMARY KEY CLUSTERED 
(
	[TID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TOPIC] ON
INSERT [dbo].[TOPIC] ([TID], [TNAME]) VALUES (1, N'国内')
INSERT [dbo].[TOPIC] ([TID], [TNAME]) VALUES (2, N'国际')
INSERT [dbo].[TOPIC] ([TID], [TNAME]) VALUES (3, N'军事')
SET IDENTITY_INSERT [dbo].[TOPIC] OFF
/****** Object:  Table [dbo].[NEWS_USERS]    Script Date: 06/12/2014 17:47:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NEWS_USERS](
	[uid] [int] IDENTITY(1,1) NOT NULL,
	[uname] [varchar](20) NOT NULL,
	[upwd] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[NEWS_USERS] ON
INSERT [dbo].[NEWS_USERS] ([uid], [uname], [upwd]) VALUES (1, N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[NEWS_USERS] OFF
/****** Object:  Table [dbo].[NEWS]    Script Date: 06/12/2014 17:47:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NEWS](
	[NID] [int] IDENTITY(1,1) NOT NULL,
	[NTID] [int] NOT NULL,
	[NTITLE] [varchar](500) NOT NULL,
	[NAUTHOR] [varchar](50) NOT NULL,
	[NCREATEDATE] [datetime] NULL,
	[NPICPATH] [varchar](255) NULL,
	[NCONTENT] [text] NOT NULL,
	[NMODIFYDATE] [datetime] NULL,
	[NSUMMARY] [varchar](4000) NOT NULL,
 CONSTRAINT [NID] PRIMARY KEY CLUSTERED 
(
	[NID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[NEWS] ON
SET IDENTITY_INSERT [dbo].[NEWS] OFF
/****** Object:  Table [dbo].[COMMENTS]    Script Date: 06/12/2014 17:47:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMMENTS](
	[CID] [int] IDENTITY(1,1) NOT NULL,
	[CNID] [int] NOT NULL,
	[CCONTENT] [varchar](3000) NOT NULL,
	[CDATE] [datetime] NOT NULL,
	[CIP] [varchar](100) NOT NULL,
	[CAUTHOR] [varchar](100) NOT NULL,
 CONSTRAINT [CID] PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[COMMENTS] ON
INSERT [dbo].[COMMENTS] ([CID], [CNID], [CCONTENT], [CDATE], [CIP], [CAUTHOR]) VALUES (4, 73, N'无聊！！', CAST(0x00009DCE00E2494C AS DateTime), N'127.0.0.1', N'这家伙很懒什么也没留下')
INSERT [dbo].[COMMENTS] ([CID], [CNID], [CCONTENT], [CDATE], [CIP], [CAUTHOR]) VALUES (5, 108, N'很饱啊', CAST(0x00009DCE0104E380 AS DateTime), N'127.0.0.1', N'那只虫子')
INSERT [dbo].[COMMENTS] ([CID], [CNID], [CCONTENT], [CDATE], [CIP], [CAUTHOR]) VALUES (9, 79, N'支持祖国！！', CAST(0x00009FAC00DC224C AS DateTime), N'127.0.0.1', N'这家伙很懒什么也没留下')
SET IDENTITY_INSERT [dbo].[COMMENTS] OFF
/****** Object:  Default [DF_COMMENTS_CDATE]    Script Date: 06/12/2014 17:47:45 ******/
ALTER TABLE [dbo].[COMMENTS] ADD  CONSTRAINT [DF_COMMENTS_CDATE]  DEFAULT (getdate()) FOR [CDATE]
GO
/****** Object:  ForeignKey [CIN_NID]    Script Date: 06/12/2014 17:47:45 ******/
ALTER TABLE [dbo].[COMMENTS]  WITH CHECK ADD  CONSTRAINT [CIN_NID] FOREIGN KEY([CNID])
REFERENCES [dbo].[NEWS] ([NID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COMMENTS] CHECK CONSTRAINT [CIN_NID]
GO
/****** Object:  ForeignKey [NEWS_TOPIC]    Script Date: 06/12/2014 17:47:45 ******/
ALTER TABLE [dbo].[NEWS]  WITH CHECK ADD  CONSTRAINT [NEWS_TOPIC] FOREIGN KEY([NTID])
REFERENCES [dbo].[TOPIC] ([TID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NEWS] CHECK CONSTRAINT [NEWS_TOPIC]
GO

select * from  Topic
select * from  NEWS_USERS
select* from news
select top 3 ntitle,ncreatedate from news where ntid=1 and nid not in(select top 0 nid from news where ntid=1)
select count(*) from news