<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <servlet>
    <servlet-name>FindAllFinancingProductServlet</servlet-name>
    <servlet-class>com.bdqn.spz.financingproductsys.servlet.FindAllFinancingProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindFinancingProductServlet</servlet-name>
    <servlet-class>com.bdqn.spz.financingproductsys.servlet.FindFinancingProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertFinancingProductServlet</servlet-name>
    <servlet-class>com.bdqn.spz.financingproductsys.servlet.InsertFinancingProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllFinancingProductServlet</servlet-name>
    <url-pattern>/FindAllFinancingProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindFinancingProductServlet</servlet-name>
    <url-pattern>/FindFinancingProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertFinancingProductServlet</servlet-name>
    <url-pattern>/InsertFinancingProductServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>